.item-nav {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(63, 81, 181);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
}

.item-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.item-nav a h1 {
    margin-right: 10px;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #FFFFFF;
}

.item-nav a i {
    color: #FFFFFF;
}