.item-list {
    width: 100%;
    height: 100%;
    max-width: 1800px;
    margin: 3% auto;
}

.spinner {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-top: 20%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.list-table {
    width: 85%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.list-table .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.list-table .header-content i {
    margin-right: 5px;
    color: #333333;
}

.list-table .mat-cell {
    text-align: center;
}

.list-table .mat-cell .edit-link {
    padding: 6px 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
    background: rgb(63, 81, 181);
    color: #FFFFFF;
    border-radius: 3px;
}