<div class="item-edit">
    <a mat-stroked-button color="primary" routerLink="/items">Back</a>
    <form [formGroup]="rForm" (ngSubmit)="editItem(rForm.value)">
        <div class="form-wrapper">
            <h2>Editing item "{{ a }}":</h2>

            <!-- CPC Input -->
            <mat-form-field class="cpc-container">
                <input matInput type="number" maxlength="4" step="0.001" [(ngModel)]="campCPC" formControlName="camp_cpc" placeholder="Campaign CPC" required>
                <button mat-button *ngIf="campCPC" matSuffix mat-icon-button aria-label="Clear" (click)="campCPC=''">
                    <i class="material-icons">close</i>
                </button>
                <mat-error *ngIf="!campCPC">
                    This field only accepts numbers and can not be empty
                </mat-error>
            </mat-form-field>

            <!-- Date Input -->
            <mat-form-field class="date-container">
                <input matInput [matDatepicker]="picker" [(ngModel)]="date" formControlName="date" placeholder="Choose a date" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="!date">
                        This field only accepts a valid date and can not be empty
                </mat-error>
            </mat-form-field>

            <!-- Freeclick Input -->
            <div class="checkbox-container">
                <label for="checkbox">Freeclick:</label>
                <mat-checkbox id="checkbox" formControlName="freeclick" [(ngModel)]="freeclick"></mat-checkbox>
            </div>

            <!-- Network Input -->
            <div class="radio-container">
                <h3>Network:</h3>
                <mat-radio-group formControlName="network" [(ngModel)]="network">
                    <mat-radio-button value="a">a</mat-radio-button>
                    <mat-radio-button value="b">b</mat-radio-button>
                    <mat-radio-button value="c">c</mat-radio-button>
                </mat-radio-group>
            </div>

            <!-- PLista Product Input -->
            <mat-form-field>
                <mat-select formControlName="PlistaProduct" [(ngModel)]="plistaProduct" placeholder="Product category" required>
                    <mat-option [value]="productCategory.value" *ngFor="let productCategory of productCategories">
                    {{ productCategory.value }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
    
            <button class="submit" type="submit" mat-raised-button color="accent" [disabled]="!rForm.valid">Confirm</button>
        </div>
    </form>
</div>